[user]
    name = Jacob Walker
    email = jacobwalker0814@gmail.com
[color]
    ui = auto
[push]
    default = matching
[merge]
    log = true
[github]
    user = jcbwlkr
[include]
    path = ~/.config/git/overrides
[core]
	pager = less -x4
