[user]
	name = Jacob Walker
	email = jacobwalker0814@gmail.com
[color]
	ui = auto
[push]
	default = matching
[merge]
	log = true
[github]
	user = jcbwlkr
[include]
	path = ~/.config/git/overrides
[core]
	pager = less -x4
	excludesfile = /Users/jwalker/.gitignore
[alias]
	; Show effective changes between this branch and the remote master branch.
	; Used when reviewing a PR with lots of commits/merges.
	review = !git diff --stat -p -w $(git merge-base HEAD origin/master) -- . ':!vendor'
	dirdiff = diff -p --stat -w --no-index
[http]
	cookiefile = /Users/jwalker/.gitcookies
[rerere]
	enabled = true
[help]
	autocorrect = 1
[url "git@github.com:"]
	insteadOf = https://github.com/
