[user]
    name = Jacob Walker
    email = jacob@tortugas-llc.com
[color]
    ui = auto
[push]
    default = matching
[merge]
    log = true
[github]
    user = jacobwalker0814
[include]
    path = ~/.config/git/overrides
